---
import ContactForm from '@components/contactform.jsx';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';

const locale = Astro.currentLocale;
---

<Layout title='Contact'>
  <Container>
    <Sectionhead>
      <Fragment slot='title'>Contact</Fragment>
      <Fragment slot='description'>We are here to help</Fragment>
    </Sectionhead>

    <div class='grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16'>
      <div>
        <h2 class='font-medium text-2xl text-gray-800'>Contact with us</h2>
        <p class='text-lg leading-relaxed text-slate-500 mt-3'>
          If you have any questions or need help, do not hesitate to contact us.
        </p>
        <div class='mt-5'>
          <div class='flex items-center mt-2 space-x-2 text-gray-600'>
            <Icon class='text-gray-400 w-4 h-4' name='uil:map-marker' />
            <span>Doctor Fourquet, 30</span>
          </div><div class='flex items-center mt-2 space-x-2 text-gray-600'>
            <Icon class='text-gray-400 w-4 h-4' name='uil:envelope' /><a
              href='mailto:hola@astromarketing.com'>hola@astromarketing.com</a
            >
          </div><div class='flex items-center mt-2 space-x-2 text-gray-600'>
            <Icon class='text-gray-400 w-4 h-4' name='uil:phone' /><a
              href='tel:+34 967511114'>+34 967 511 114</a
            >
          </div>
        </div>
      </div>
      <div>
        <ContactForm client:load locale={locale} />
      </div>
    </div>
  </Container>
</Layout>
