---
// @ts-ignore
import { Icon } from 'astro-icon/components';
---

<div class='mt-24'>
  <h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight text-center'>
    Clientes
  </h2>
  <p class='text-center text-slate-500'>
    Trabajamos con clientes a nivel internacional
  </p>
  <div class='flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap'>
    <Icon class='size-8 md:size-12' name='simple-icons:react' />
    <Icon class='size-8 md:size-12' name='simple-icons:svelte' />
    <Icon class='size-8 md:size-12' name='simple-icons:astro' />
    <Icon class='size-8 md:size-16' name='simple-icons:tailwindcss' />
    <Icon class='size-8 md:size-16' name='simple-icons:alpinedotjs' />
    <Icon class='size-8 md:size-12' name='simple-icons:vercel' />
  </div>
</div>
